version: '3.8'

services:
  migrate:
    image: migrate/migrate
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://${PG_USER}:${PG_PASS}@postgres:5432/${PG_NAME}?sslmode=disable",
      "up"
    ]
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"
    networks:
      - app-network
    
  api:
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - PG_HOST=${PG_HOST}
      - PG_PORT=${PG_PORT}
    depends_on:
      - auth_db
    volumes:
      - go-modules:/go/pkg/mod
      - ./uploads:/uploads
    restart: unless-stopped
    networks:
      - app-network

  auth_db:
    image: postgres:15
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${PG_NAME}
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASS}
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - auth_db:/var/lib/postgresql/data
      - ./init-postgres.sql:/docker-entrypoint-initdb.d/init-postgres.sql:ro
    restart: unless-stopped
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  auth_db_data:
  go-modules:

networks:
  app-network:
    driver: bridge